html {
    scroll-behavior: smooth;
}
section:before{
    display:block;
    position:relative;
    /* margin-top: -50px; */
    padding-top:-100px;
    height:100px;
    content: " ";
    visibility:hidden;
}
